<launch>

    <node pkg = "move_base" type = "move_base" name = "move_base" output = "screen">

    <!-- cost map -->
        <rosparam file = "$(find wego_2d_nav)/params/costmap_common_params.yaml" command = "load" ns = "global_costmap"/>
        <rosparam file = "$(find wego_2d_nav)/params/costmap_common_params.yaml" command = "load" ns = "local_costmap"/>

        <rosparam file = "$(find wego_2d_nav)/params/global_costmap_params.yaml" command = "load" />
        <rosparam file = "$(find wego_2d_nav)/params/local_costmap_params.yaml" command = "load" />

        <param name ="base_global_planner" value = "global_planner/GlobalPlanner"/>
        <param name ="use_dijkstra" value = "true"/>
        <param name = "planner_frequency" value = "1.0"/>
            <param name = "planner_patience" value = "5.0" />

        <param name = "base_local_planner" value = "teb_local_planner/TebLocalPlannerROS"/>
        <rosparam file = "$(find wego_2d_nav)/params/teb_local_planner_params.yaml" command = "load" />
        <param name = "controller_frequency" value = "5.0"/>
            <param name = "controller_patience" value = "15.0"/>

        <param name = "clearing_rotation_allowed" value = "false"/>
        <remap from ="odom" to = "/odometry/filtered"/>



    </node>
    <node pkg = "wego_2d_nav" type = "cmd_vel_to_ackermann.py" name = "cmd_vel_to_ackermann"/>


</launch>