<launch>
    <!--map setting-->
    <arg name = "map_file" default="$(find wego)/maps/map.yaml"/>
    <node name = "map_server" pkg="map_server" type="map_server" args = "$(arg map_file)"/>

    <!--localization-->
    <include file ="$(find wego_2d_nav)/launch/amcl.launch"/>
    <include file ="$(find wego_2d_nav)/launch/move_base.launch"/>


    <!--rviz-->
    <!-- <node name = "rviz" pkg = "rviz" type = "rviz" args="-d $(find wego)/rviz/navigation.rviz" /> -->
</launch>    